<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View All Appointments</title>
  </head>
  <body>
    <h1>All Appointments</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <% appointments.forEach((appointment) => { %>
        <tr>
          <td><%= appointment.title %></td>
          <td><%= appointment.description %></td>
          <td><%= appointment.start %></td>
          <td><%= appointment.end %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </body>
</html>
