<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment API</title>
</head>
<body>
    <h1>Welcome to <%= apiInfo.name %></h1>
    <p>Version: <%= apiInfo.version %></p>
    <p>Description: <%= apiInfo.description %></p>
    <ul>
      <li><a href="/appointments">View all appointments</a></li>
      <li><a href="/appointments/new">Create a new appointment</a></li>
    </ul>
  </body>
</html>